
  .container{
	  width: 90%;
	  height: 80%;
	  margin: 8% 6% auto;
	  background: #101049;
	  border-radius: 5px;
	  position: absolute;
  }
  .container from{
	  width: 200px;
	  position: absolute;
	  top: 100px;
	  left: 40px;
  }
  ::placeholder{
	  color: rgb(255, 255, 255);
  }
  form input{
	width: 100%;
	padding: 10px 5px;
	margin: 5px 0;
	border: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;	  
  }
 
  .boton-next{
	  width: 100%;
	  margin: 30px auto;
	  text-align: center;
  }
  form button{
	  width: 100px;
	  height: 35px;
	  margin: 0 10px;
	  background: linear-gradient(to right, #ff105f, #ffad06);
	  border-radius: 30px;
	  border: 0;
	  outline: none;
	  color: #fff;
	  cursor: pointer;
  }